<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <div th:replace="/templates/setting :: setting" ></div>
<!--    <link rel="stylesheet" href="css/index.css">-->
</head>
<body>
    <div th:replace="/templates/top :: top" ></div>
    <div class="center">
        <div class="container title">
            <h1>AI应用平台</h1>
        </div>
        <div class="container">

        </div>
    </div>
    <div th:replace="/templates/foot :: footer" ></div>
</body>
<!--<script src="js/index.js"></script>-->
</html>