.heading {
    text-align: center;
    color: white;
}

body {
    background: url("../images/index.png") repeat center 0;
}

img {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1);
    border-radius: 30px;
}

img:hover {
    transform: scale(1.1);
}

.show {
    background-color: whitesmoke;
    border-radius: 30px;
    opacity: 0.9;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1);
    box-shadow: 4px 4px 1px rgba(18, 255, 246, 0.66);
}

.show:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px rgba(110, 255, 246, 0.66);
}

h1 {
    color: white;
}