<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>智能相册</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/album.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="appEvent"></div>

    <div class="heading">
        <h1>智能相册</h1>
    </div>
    <div class="container">
        <div class="upload" id="upload">
            <el-upload class="upload-demo"
                drag
                action="/album/v1/upload"
                :on-success="uploadSuccess"
                multiple>
                <i class="el-icon-uplaod"></i>
                <div class="el-upload__text">把文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip text" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
        </div>
    </div>

    <div class="container" id="app">
        <vue-gallery :photos="photos"></vue-gallery>
    </div>

    <div class="container" id="my-custom-tags">
        <v-tag :tags="tags"></v-tag>
    </div>

    <div class="footer">
        <hr>
        <footer class="container-fluid foot-wrap">
            <div class="fp">
                <p>Copyright &copy; 2020</p>
                <p>Contact information: <a href="">nluoqiangwei@qq.com</a></p>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
    <script src="js/album.js"></script>
</body>
</html>