<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>智能相册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/album.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div th:replace="templates/setting :: setting" ></div>
    <div th:replace="templates/top :: top" ></div>
    <div class="center">
        <div id="appEvent"></div>

        <div class="heading">
            <h1>智能相册</h1>
        </div>
        <div class="container">
            <div class="upload" id="upload">
                <el-upload class="upload-demo"
                    drag
                    action="/album/v1/upload"
                    :on-success="uploadSuccess"
                    multiple>
                    <i class="el-icon-uplaod"></i>
                    <div class="el-upload__text">把文件拖到此处，或<em>点击上传</em></div>
                    <div class="el-upload__tip text" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
            </div>
        </div>

        <div class="container" id="app">
            <vue-gallery :photos="photos"></vue-gallery>
        </div>

        <div class="container" id="my-custom-tags">
            <v-tag :tags="tags"></v-tag>
        </div>

    </div>
    <div th:replace="templates/foot :: footer" ></div>
    <script src="js/album.js"></script>
</body>
</html>