<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>ID Card ORC</title>
</head>
<body>
    <div th:replace="templates/setting :: setting" ></div>
    <div th:replace="templates/top :: top" ></div>
    <div class="container center">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <h1>身份证提取示例</h1>
                <div class="col-sm-12">
<!--                    显示错误 -->
                    <p th:text="${messages}" th:if="${messages != null}" class="alert alert-info"></p>
                </div>
                <form method="post" th:action="@{/idcard/upload}" enctype="multipart/form-data">
<!--                    row标示之后使用栅栏结构 -->
                    <div class="row">
<!--                       每行有12格，用4格 -->
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input id="location" class="form-control" onclick="$('#i-face').click();">
                                <label class="input-group-btn">
                                    <input type="button" id="i-check" value="上传人像面" class="btn btn-primary" onclick="$('#i-face').click();">
                                </label>
                            </div>
                        </div>
<!--                       下面这个并不显示，交给上面这个div显示更棒的效果~ -->
                        <input type="file" name="face" id="i-face" accept=".jpg, .jpeg, .png" onchange="$('#location').val($('#i-face').val());" style="display: none">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input id="locationf" class="form-control" onclick="$('#i-back').click();">
                                <label class="input-group-btn">
                                    <input type="button" id="i-checkb" value="上传国徽面" class="btn btn-primary" onclick="$('#i-back').click();">
                                </label>
                            </div>
                        </div>
                        <input type="file" name="back" id="i-back" accept=".jpg, .jpeg, .png" onchange="$('#locationf').val($('#i-back').val());" style="display: none">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary form-control">开始识别</button>
                        </div>
                        <div class="col-sm-2">
                            <a th:href="@{/index}"><button type="button" class="btn btn-primary form-control">返回主页</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" style="margin-top: 38px;">
            <div class="col-md-12 mx-auto">
                <div class="row">
                    <div class="col-sm-4">
                        <img th:src="${faceImage}" th:if="faceImage != null" class="img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <img th:src="${backImage}" th:if="backImage != null" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 38px;">
            <div class="col-md-12 mx-auto" th:if="${faceResult != null}">
                <div class="row">
                    <div class="col-sm-4">
                        <p><span>姓名: </span><span th:text="${faceResult.name}"></span></p>
                        <p><span>性别: </span><span th:text="${faceResult.gender}"></span></p>
                        <p><span>民族: </span><span th:text="${faceResult.nationality}"></span></p>
                        <p><span>出生日期: </span><span th:text="${faceResult.birthDate}"></span></p>
                        <p><span>住址: </span><span th:text="${faceResult.address}"></span></p>
                        <p><span>身份证号: </span><span th:text="${faceResult.IDNumber}"></span></p>
                    </div>
                    <div class="col-sm-4">
                        <p><span>签发机关: </span><span th:text="${backResult.issue}"></span></p>
                        <p><span>有效日期: </span><span th:text="${backResult.startDate}"></span>-<span th:text="${backResult.endDate}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="templates/foot :: footer" ></div>
</body>
</html>