<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>主页</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <div class="container title">
        <h1>AI应用平台</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/idcard/index">
                    <div class="show">
                        <p>身份证识别</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/album">
                    <div class="show">
                        <p>智能相册</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/issue/index">
                    <div class="show">
                        <p>车辆保险</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/video/index">
                    <div class="show">
                        <p>视频处理</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                    <div class="show">

                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="">
                    <div class="show">

                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <hr>
        <footer class="container-fluid foot-wrap">
            <div class="fp">
                <p>Copyright &copy; 2020</p>
                <p>Contact information: <a href="">nluoqiangwei@qq.com</a></p>
            </div>
        </footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="js/jquery.js"></script>
<script src="js/index.js"></script>
</html>