<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>主页</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div th:replace="templates/setting :: setting" ></div>
    <div th:replace="templates/top :: top" ></div>
    <div class="center">
        <div class="container title">
            <h1>AI应用平台</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="/idcard/index" style="text-decoration: none;">
                        <div class="show">
                            <p>身份证识别</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/album" style="text-decoration: none;">
                        <div class="show">
                            <p>智能相册</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/issue/index" style="text-decoration: none;">
                        <div class="show">
                            <p>车辆保险</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="/video/index" style="text-decoration: none;">
                        <div class="show">
                            <p>视频高清化</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://39.98.78.5:9898/excel.php" style="text-decoration: none;">
                        <div class="show">
                            <p>表格识别</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/video/clear" style="text-decoration: none;">
                        <div class="show">
                            <p>视频去水印</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="templates/foot :: footer" ></div>
</body>
<script src="js/index.js"></script>
</html>