<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>视频高清化</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/lthvideo.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <h1>视频处理</h1>
                <div class="col-sm-12">
                    <!--                    显示错误 -->
                    <p th:text="${messages}" th:if="${messages != null}" class="alert alert-info"></p>
                </div>
                <form method="post" th:action="@{/video/upload}" enctype="multipart/form-data">
                    <!--                    row标示之后使用栅栏结构 -->
                    <div class="row">
                        <!--                       每行有12格，用4格 -->
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="uVideo" class="form-control" onclick="$('#i-video').click();">
                                <label class="input-group-btn">
                                    <input type="button" id="i-check" value="上传视频" class="btn btn-primary" onclick="$('#i-video').click();">
                                </label>
                            </div>
                        </div>
                        <!--                       下面这个并不显示，交给上面这个div显示更棒的效果~ -->
                        <input type="file" name="userVideo" id="i-video" accept=".mp4" onchange="$('#uVideo').val($('#i-video').val());" style="display: none">

                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary form-control">开始优化</button>
                        </div>
                        <div class="col-sm-2">
                            <a th:href="@{/index}"><button type="button" class="btn btn-primary form-control">返回主页</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row show" style="margin-top: 38px;">
            <div class="col-md-12 mx-auto" th:if="${video != null}">
                <div class="row">
                    <div class="col-sm-12">
                        <a th:href="${video}"><p><span>下载视频</span></p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <hr>
        <footer class="container-fluid foot-wrap">
            <div class="fp">
                <p>Copyright &copy; 2020</p>
                <p>Contact information: <a href="">nluoqiangwei@qq.com</a></p>
            </div>
        </footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/js/jquery.js"></script>
<script src="/js/lthvideo.js"></script>
</html>