
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>计算机科学基础知识答题网 - 消息</title>
    <meta http-equiv="refresh" content="1; URL=${toUrl}">
</head>
<body>
<div th:replace="/templates/setting :: setting" ></div>
<div th:replace="/templates/top :: top" ></div>
<div class="center container">
    <h1>${msg}</h1>
</div>
<div th:replace="/templates/foot :: footer" ></div>
</body>
</html>
